.grupo-borde{
	border:solid 1px #AAA;
	padding:15px;
}
.divisor{
	box-shadow: 0 1px 1px 0px #333;
}
.btn-default{
 	background-color:#EBEBEB;
 	color:#ACB0B4;
 	padding-top:10px;
 	padding-bottom:10px;
}