<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8" />
<title></title>
</head>
<body>
	<div th:fragment="liquidacion">
	<script th:inline="javascript">
		console.log([[${datos}]]);
	</script>
		<div class="contenedor-campos">
    		<div class="row">
            	<div class="col-md-2 col-xs-2">
	            	<label class="form-control vertical-align">Titular de la cuenta: </label>
            	</div>
            	<div class="col-md-10 col-xs-10">
	            	<input class="form-control" th:value="${datos.titular}" readonly="readonly"/>
            	</div>
            </div>
            <br/>
            <br/>
            <div class="row">
            	<div class="col-md-2 col-xs-2">
	            	<label class="form-control vertical-align">Prod. Vendible: </label>
            	</div>
            	<div class="col-md-3 col-xs-3">
	            	<input class="form-control" th:value="${datos.prodVendible}" readonly="readonly"/>
            	</div>
            </div>
            <br/>
            <div class="row">
            	<div class="col-md-2 col-xs-2">
            		<label class="form-control vertical-align">Moneda: </label>
            	</div>
            	<div class="col-md-2 col-xs-2">
            		<input class="form-control" th:value="${Model.moneda}" readonly="readonly"/>
            	</div>
            </div>
            <br/>
            <div class="row">
            	<div class="col-md-2 col-xs-2">
            		<label class="form-control vertical-align">Tipo Liquidaci&oacute;n: </label>
            	</div>
            	<div class="col-md-2 col-xs-2">
					<input class="form-control" th:value="${Model.fechaAlta}" readonly="readonly"/>
	            </div>
            </div>
            <br/>
            <div class="row">
            	<div class="col-md-2 col-xs-2">
            		<label class="form-control vertical-align">Situaci&oacute;n: </label>
            	</div>
            	<div class="col-md-2 col-xs-2">
					<input class="form-control" th:value="${Model.situacion}" readonly="readonly"/>
	            </div>
	            <div class="col-md-2 col-xs-2">
            		<label class="form-control vertical-align">Tipo real: </label>
            	</div>
            	<div class="col-md-2 col-xs-2">
					<input class="form-control" th:value="${Model.fechaAlta}" readonly="readonly"/>
	            </div>
            </div>
            <br/>
            <br/>
           	<div class="row">
            	<div class="col-md-12 col-xs-12">
            		<table class="table table-striped table-bordered" 
             				id="tblIndicadores"
             				style="width:50%;margin:0 auto;background-color:#FFF;">
                        <thead>
	                        <tr>
	                            <th>Concepto</th>
	                            <th>Importe facturado</th>
	                            <th>Importe pendiente</th>
	                        </tr>
                        </thead>
                        <tbody>
	                        <tr th:each="liq : ${Model.liquidaciones}">
	                            <td th:text="${liq.codigoOrigen}"></td>
	                            <td th:text="${liq.importeFacturado}"></td>
	                            <td th:text="${liq.importePendiente}"></td>
	                        </tr>
                        </tbody>
                    </table>
            	</div>
            </div>
            <br/>
            <br/>
            <div class="row">
            	<div class="col-md-2 col-xs-2">
            		<label class="form-control vertical-align">Neto Operaci&oacute;n: </label>
            	</div>
            	<div class="col-md-2 col-xs-2">
					<input class="form-control" th:value="${Model.importeTotal}" readonly="readonly"/>
	            </div>
	            <div class="col-md-2 col-xs-2">
            		<label class="form-control vertical-align">Pendiente: </label>
            	</div>
	            <div class="col-md-2 col-xs-2">
					<input class="form-control" th:value="${Model.importePendiente}" readonly="readonly"/>
	            </div>
            </div>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
    	</div>
    	<br/>
    	<div class="row">
        	<div class="col-md-12 col-xs-12 text-center">
        		<button class="btn btn-default detalle-apunte" onclick="window.history.go(-2);">Salir</button>
        	</div>
        </div>
        <br/>
    </div>
    <div th:fragment="emision">
        <div class="contenedor-campos">
    		<div class="row">
            	<div class="col-md-1 col-xs-1">
	            	<label class="form-control vertical-align">Cheque: </label>
            	</div>
            	<div class="col-md-1 col-xs-1">
	            	<input class="form-control" th:value="${Model.reqNumeroCheque}" readonly="readonly"/>
            	</div>
            	<div class="col-md-2 col-xs-2">
	            	<input class="form-control" th:value="${Model.numeroCheque}" readonly="readonly"/>
            	</div>
            	<div class="col-md-1 col-xs-1">
	            	<label class="form-control vertical-align">Acuerdo: </label>
            	</div>
            	<div class="col-md-2 col-xs-2">
	            	<input class="form-control" th:value="${Model.numAcuerdo}" readonly="readonly"/>
            	</div>
            	<div class="col-md-1 col-xs-1">
	            	<label class="form-control vertical-align">Conforma: </label>
            	</div>
            	<div class="col-md-1 col-xs-1">
	            	<input class="form-control" th:value="${Model.conforma}" readonly="readonly"/>
            	</div>
            </div>
            <br/>
            <div class="row">
            	<div class="col-md-1 col-xs-1">
	            	<label class="form-control vertical-align">Tituar: </label>
            	</div>
            	<div class="col-md-8 col-xs-8">
	            	<input class="form-control" th:value="${datos.titular}" readonly="readonly"/>
            	</div>
            </div>
            <br/>
            <div class="row">
            	<div class="col-md-8 col-xs-8">
            		<div class="row">
		            	<div class="col-md-3 col-xs-3">
			            	<label class="form-control vertical-align">Tipo talonario: </label>
		            	</div>
		            	<div class="col-md-3 col-xs-3">
			            	<input class="form-control" th:value="${Model.tipoTalonario}" readonly="readonly"/>
		            	</div>
		            	<div class="col-md-3 col-xs-3">
			            	<label class="form-control vertical-align">Disposici&oacute;n: </label>
		            	</div>
		            	<div class="col-md-3 col-xs-3">
			            	<input class="form-control" th:value="${Model.disposicion}" readonly="readonly"/>
		            	</div>
		            </div>
		            <br/>
		            <div class="row">
		            	<div class="col-md-3 col-xs-3">
			            	<label class="form-control vertical-align">Importe cheque: </label>
		            	</div>
		            	<div class="col-md-3 col-xs-3">
			            	<input class="form-control" th:value="${Model.pagoCheque}" readonly="readonly"/>
		            	</div>
		            	<div class="col-md-3 col-xs-3">
			            	<label class="form-control vertical-align">Importe pendiente: </label>
		            	</div>
		            	<div class="col-md-3 col-xs-3">
			            	<input class="form-control" th:value="${Model.pagoPendiente}" readonly="readonly"/>
		            	</div>
		            </div>
		            <br/>
		            <div class="row">
		            	<div class="col-md-3 col-xs-3">
			            	<label class="form-control vertical-align">N&uacute;mero Talonario: </label>
		            	</div>
		            	<div class="col-md-3 col-xs-3">
			            	<input class="form-control" th:value="${Model.numeroTalonario}" readonly="readonly"/>
		            	</div>
		            	<div class="col-md-3 col-xs-3">
			            	<label class="form-control vertical-align">Fecha de Caducidad: </label>
		            	</div>
		            	<div class="col-md-3 col-xs-3">
			            	<input class="form-control" th:value="${Model.fechaDesde}" readonly="readonly"/>
		            	</div>
		            </div>
		            <br/>
		            <div class="row">
		            	<div class="col-md-3 col-xs-3">
			            	<label class="form-control vertical-align">Acuerdo Cargo: </label>
		            	</div>
		            	<div class="col-md-3 col-xs-3">
			            	<input class="form-control" th:value="${Model.fecha}" readonly="readonly"/>
		            	</div>
		            	<div class="col-md-3 col-xs-3">
			            	<label class="form-control vertical-align">Centro: </label>
		            	</div>
		            	<div class="col-md-3 col-xs-3">
			            	<input class="form-control" th:value="${Model.centro}" readonly="readonly"/>
		            	</div>
		            </div>
            	</div>
            	<div class="col-md-1 col-xs-1"></div>
            	<div class="col-md-3 col-xs-3">
	            	<div class="" style="border: solid 1px #BFC0BF; margin:0 10%;padding:0 10%;">
		            	<div class="row">
			            	<label class="form-control vertical-align">Situaci&oacute;n de pago </label>
	            		</div>
	            		<div class="row">
		            		<div class="col-md-1 col-xs-1">
				            	<input class="" type="radio" value="0" th:field="${Model.situacionPago}" readonly="readonly"/>
			            	</div>
			            	<div class="col-md-8 col-xs-8">
			            		<label class="form-control vertical-align">No pagado</label>
			            	</div>
			            </div>
			            <div class="row">
		            		<div class="col-md-1 col-xs-1">
				            	<input class="" type="radio" value="1" th:field="${Model.situacionPago}" readonly="readonly"/>
			            	</div>
			            	<div class="col-md-8 col-xs-8">
			            		<label class="form-control vertical-align">Total</label>
			            	</div>
			            </div>
			            <div class="row">
		            		<div class="col-md-1 col-xs-1">
				            	<input class="" type="radio" value="2" th:field="${Model.situacionPago}" readonly="readonly"/>
			            	</div>
			            	<div class="col-md-8 col-xs-8">
			            		<label class="form-control vertical-align">Parcial</label>
			            	</div>
			            </div>
			            <div class="row">
		            		<div class="col-md-1 col-xs-1">
				            	<input class="" type="radio" value="3" th:field="${Model.situacionPago}" readonly="readonly"/>
			            	</div>
			            	<div class="col-md-8 col-xs-8">
			            		<label class="form-control vertical-align">Duplicado</label>
			            	</div>
			            </div>
	            	</div>
            	</div>
            </div>
            <br/>
            <div class="row">
            	<div class="col-md-2 col-xs-2">
            		<label class="form-control vertical-align">Estado: </label>
            	</div>
            	<div class="col-md-2 col-xs-2">
					<input class="form-control" th:value="${Model.estado}" readonly="readonly"/>
	            </div>
            </div>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
    	</div>
    	<br/>
    	<div class="row">
        	<div class="col-md-12 col-xs-12 text-center">
        		<button class="btn btn-default detalle-apunte" onclick="window.history.go(-2);">Salir</button>
        	</div>
        </div>
        <br/>
    </div>
</body>
</html>