<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <!-- Agregar los estilos    -->
    <link th:href="@{/css/primefaces.css}" rel="stylesheet"/>
    <link th:href="@{/css/base.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/estilos.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap-datepicker.css}" rel="stylesheet" />
    <link th:href="@{/css/bootstrap-select.min.css}" rel="stylesheet"/>
    <!-- Agregar los scriptss   -->
    <script th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script th:src="@{/js/bootbox.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap-datepicker.js}"></script>
    <script th:src="@{/js/bootstrap-select.js}"></script>
    <script th:src="@{/js/jquery.inputmask.bundle.js}"></script>
    <script th:src="@{/js/jquery.mask.js}"></script>
    <script th:src="@{/js/Validaciones.js}"></script>
    <script th:src="@{/js/funcionesGenerales.js}"></script>
    <title>Alta de centros</title>
</head>
<body>
	<script th:inline="javascript">
    </script>
			<div class="container_48">
				<div class="contenedor">
					<div class="contenedor-form">
						<form id="formAltaCentro">
							<div class="titulo centrar-objeto btn-inline-set">
								<button class="ui-icon-arrow-1-w" id="lnkVolver"
									action="#{altaCentroController.validarCancelar()}">
								</button>
								<h1>Alta de centro</h1>
							</div>
							<div class="contenedor-campos">
								<!--agregar-campos-->
								<label class="txt-campo-obligatorio margin-left-10">*Datos Obligatorios</label>
								<div class="margin-top-10"></div>
								<div id="panelDatos">
									<div id="datosCentro" class="container-fluid">
										<div class="row">
											<div class="col-md-2 col-xs-2 col-md-offset-10 col-xs-offset-10">
												<button class="btn btn-default btn-block"><i class="fa fa-bars" aria-hidden="true"></i> Opciones</button>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12 col-xs-12">
												<label>Tabla:</label>
											</div>
										</div>
										<div class="row">
											<div class="col-md-3 col-xs-3">
												<input class="form-control" type="text"/>
											</div>
											<div class="col-md-3 col-xs-3">
												<input class="form-control" type="text"/>
											</div>
											<div class="col-md-6 col-xs-6">
												<input class="form-control" type="text"/>
											</div>
										</div>
										<br/>
										<div class="row">
											<div class="col-md-3 col-xs-3">
												<label>Clave Fila:</label>
											</div>
											<div class="col-md-9 col-xs-9">
												<label>Des. Corta:</label>
											</div>
										</div>
										<div class="row">
											<div class="col-md-3 col-xs-3">
												<input class="form-control" type="text"/>
											</div>
											<div class="col-md-9 col-xs-9">
												<input class="form-control" type="text"/>
											</div>
										</div>
										<br/>
										<div class="row">
											<div class="col-md-12 col-xs-12">
												<label>Clave Fila:</label>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12 col-xs-12">
												<input class="form-control" type="text"/>
											</div>
										</div>
										<br/>
										<div class="row">
											<div class="col-md-2 col-xs-2 col-md-offset-10 col-xs-offset-10">
												<button class="btn btn-default btn-block">Buscar</button>
											</div>
										</div>
										
										<div class="row">
											<hr/>
										</div>
										<div class="row">
											<div class="col-md-10 col-xs-10">
												<table class="table table-bordered">
													<th>Clave Fila</th>
													<th>Descripción</th>
													<th>Descripción Larga</th>
												</table>
											</div>
											<div class="col-md-2 col-xs-2">
												<div class="form-horizontal">
													<div class="form-group">
												    <label for="total" class="col-md-2 col-xs-2 control-label">Hay: </label>
												    <div class="col-md-10 col-xs-10">
												      <input type="text" class="form-control" id="total"/>
												    </div>
												  </div>
												</div>
												<div class="row">
													<div class="col-md-12 col-xs-12 text-center">
														<button class="btn btn-default btn-block">Seleccionar</button>
													</div>
												</div>
												<br/>
												<div class="row">
													<div class="col-md-12 col-xs-12 text-center">
														<button class="btn btn-default btn-block">Ver</button>
													</div>
												</div>
											</div>
										</div>
										
									</div>
								</div>
							</div>
							<!--termina contenedor-campos-->
							<div class="margin-top-10"></div>
							<button class="btn_secundario"
								action="#{altaCentroController.validarCancelar()}">
								Cancelar
							</button>
							<button class="btn_principal_dialog_derecha">Siguiente</button>
						</form>

					</div>
					<!--termina contenedor-form-->
				</div>
				<!--termina contenedor-->
			</div>
</body>
</html>